<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,UX, UI, DESIGNE, DISEÑO, DISEÑADOR, PORTAFOLIO, EXPERIENCIA DE USUARIO, INTERFAZ DE USUARIO, USER INTERFAZ, USER EXPERIENCE">
    <meta name="description" content="Portafolio Facundo Peracca">
    <title>Facundo Peracca | Portafolio Desarrollo web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/43b943f073.js" crossorigin="anonymous"></script>

    <!-- Estilo -->
    <link rel="stylesheet" href="../css/estilo.css">


</head>
<body class="body-proyectos">



<!--========================================================== -->
                        <!--Menú start-->
<!--========================================================== -->

    <header>
        <nav>
            <input type="checkbox" id="ckbox">
            <label for="ckbox" class="drawer">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
            <a href="../index.html"><h1>F<span>P</span></h1></a>

            <ul class="menu-box">
                <li><a href="../index.html" class=""> Inicio</a></li>
                <li><a href="quiensoy.html" class=""> Sobre mi</a></li>
                <li><a href="habilidades.html" class=""> Habilidades</a></li>
                <li><a href="proyectos.html" class=""> Proyectos</a></li>
                <li><a href="contacto.html" class=""> Contacto</a></li>
            </ul>
        </nav>
    </header>

<!--========================================================== -->
                        <!--Menú end-->
<!--========================================================== -->



<!--========================================================== -->
                        <!--Proyectos start-->
<!--========================================================== -->

<section class="portfolio">

    <h1 class="heading"> <span>Mis</span> proyectos </h1>

    <div class="box-container">

        <div class="box">
            <img class="img-proyectos" src="https://picsum.photos/800/600/?random?image=2" alt="">
            <div class="content">
                <h3>Futuros Proyectos</h3>
                <p>Este va a ser el apartado donde van a ir mis futuros proyectos, cuando termine mi carrera</p>
                
            </div>
        </div>

        <div class="box">
            <img class="img-proyectos" src="https://picsum.photos/800/600/?random?image=3" alt="">
            <div class="content">
                <h3>Futuros Proyectos</h3>
                <p>Este va a ser el apartado donde van a ir mis futuros proyectos, cuando termine mi carrera.</p>
                
            </div>
        </div>
    
        <div class="box">
            <img class="img-proyectos" src="https://picsum.photos/800/600/?random?image=4" alt="">
            <div class="content">
                <h3>Futuros Proyectos</h3>
                <p>Este va a ser el apartado donde van a ir mis futuros proyectos, cuando termine mi carrera  </p>
                
            </div>
        </div>
    
        <div class="box">
            <img class="img-proyectos" src="https://picsum.photos/800/600/?random?image=5" alt="">
            <div class="content">
                <h3>Futuros Proyectos</h3>
                <p>Este va a ser el apartado donde van a ir mis futuros proyectos, cuando termine mi carrera  </p>
                
            </div>
        </div>

    </div>

    
</section>

<!--========================================================== -->
                        <!--Proyectos end-->
<!--========================================================== -->



<!--========================================================== -->
                        <!--Pie de pagina-->
<!--========================================================== -->

    <footer>
        <p>Facundo Peracca | 2022</p>
    </footer>

<!--========================================================== -->
                        <!--Pie de pagina-->
<!--========================================================== -->



</body>

</html>


